
<!-- 首页 -->
<%- include('./views/common/head'); %>

<!--头部-->
<%- include('./views/common/header'); %>


<!--左边内容区客户信息-->
<%- include('./views/common/lefter'); %>

<!--主内容区-->
<div id="appcontent" class="appcontent">
  <%- include('./views/index/index'); %>
</div>


<!--页面尾部-->
<%- include('./views/common/footer'); %>
